
<article class="onelogbox mt-5 mb-6" id="pos[[LOOPCOUNT]]">
	<div class="onelogbody">

		<div class="mb-2 is-size-5 has-text-weight-semibold">[[COMMENT:LINE:1]]</div>
		<div class="postinfo mb-5 is-size-7">
			[[DATE:Y年M月D日]] │ <a href="[[PERMAURL]]">Permalink</a> │ [[CATEGORYLINKS]]
		</div>

		<div class="contents">
			<div>[[COMMENT:BODY]]</div>
		</div>

	</div>
</article>
