:root{
    --title-color:#121212;
    --text-color:#4a4a4a;
    --link-color:#212020;
    --link-hover-color:#ff5722;
    --gray:#666666;
}

body{
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
}

a:link{color:var(--link-color);}
a:visited{color:var(--link-color);}
a:hover{color:var(--link-hover-color);}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #212020;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

img.embeddedimage{cursor: zoom-in;}

figure img.socialicon.wavebox{
    mix-blend-mode: multiply;
}

p.situation{
    color:var(--gray);
    font-size:0.9em;
    text-transform: lowercase;
}

.onelog p.situation{display:none;}

.onelogbox {border-top:1px dotted #d3d6dd; padding-top:3rem;}

#pos1 {border-top:0;padding-top:0;}

.onelogbody a.url{color:var(--link-hover-color); border-bottom:1px solid var(--link-hover-color);}

span.catseparator {margin:0 0.25rem;}

/* youtube */

.embeddedmovie {
width: 100%;
aspect-ratio: 16 / 9;
}

.embeddedmovie iframe {
width: 100%;
height: 100%;
}

.hero h1 {
position: relative;
line-height: 1.4;
padding:0.25em 1em;
display: inline-block;
}

.hero a{color: var(--title-color);}

.hero h1:before, .hero h1:after {
    position: absolute;
    top: 0;
    content:'';
    width: 8px;
    height: 100%;
    display: inline-block;
}

.hero h1:before {
    border-left: solid 1px var(--title-color);
    border-top: solid 1px var(--title-color);
    border-bottom: solid 1px var(--title-color);
    left: 0;
}

.hero h1:after {
    content: '';
    border-top: solid 1px var(--title-color);
    border-right: solid 1px var(--title-color);
    border-bottom: solid 1px var(--title-color);
    right: 0;
}

.postinfo a{color:var(--link-color);}

footer a:link,
footer a:visited{
    color:#4a4a4a;
}

footer a:hover{color:var(--link-hover-color);}

footer .cornertitle{
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:30px;
}

footer .cornertitle:after {
    margin-top:0.25em;
    content:"";
    display:block;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #4a4a4a, #8c8b8b, #f0f0f0, #fafafa);
    background-image: -moz-linear-gradient(left, #4a4a4a, #8c8b8b, #f0f0f0, #fafafa);
    background-image: -ms-linear-gradient(left, #4a4a4a, #8c8b8b, #f0f0f0, #fafafa);
    background-image: -o-linear-gradient(left, #4a4a4a, #8c8b8b, #f0f0f0, #fafafa);
}

.categoryTree ul li,
.datelistarea ul li,
.hashtaglistarea ul li {
    line-height:2;
}

.categoryTree ul li ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    font-size:0.9em;
    margin-top:0.25em;
    margin-left:1em;
}
.categoryTree ul li ul li{margin-right:0.5em;}
.categoryTree ul li ul li:after{content:"/"; margin-left:0.5em;}
.categoryTree ul li .num,
.datelimitlist li .num,
.hashtaglist li .num {
    display: none;
}

.hashtaglistarea ul li{
    display:inline-block;margin-right:0.25em;
}
.hashtaglistarea ul li a::before{content: "#";margin-left:0.25em;}

nav .nums{display:flex; justify-content: center; align-items: center; gap:8px; flex-wrap: wrap; font-size:.9rem;}
nav .nums a{display: block; width:40px; height:40px; color:#212020; text-align: center; font-weight:700; border-radius:50%; line-height:40px;}
nav .nums a:hover{background-color: #fafafa}
nav .nums a.pagenumhere{background-color:#212020; color:#fcfcfc;}

nav .prevnext{display:flex; justify-content: space-evenly;}
nav .prevnext a{display:block; width:8em; text-align:center; border:1px solid #4a4a4a; color:#4a4a4a;padding:1rem 0;}
nav .prevnext a:hover{color: #d3d6dd;border:1px solid #d3d6dd}
.onelog nav .prevnext{flex-direction: row-reverse;}

/* トップへ戻るボタン */
#scrolltop {
    display: none;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 48px;
    height: 48px;
    position: fixed;
    right: 15px;
    bottom: 0;
}

#scrolltop .scrolltop-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
